main {
	margin-left: 380px;

	.wrapper {
		padding: 50px $gutter-m;
	}

}

.projects_list {

	.projects_item:nth-child(even) {
	  margin-top: -3.5 * $gutter-m;
	  margin-bottom: $gutter-m;
	}

	.projects_item,
	.projects_item:nth-child(4n+3),
	.projects_item:nth-child(4n+2){
	  width: calc(50% - #{$gutter-m/2});
	}

}