* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: lighten($blue, 40%);
}

::-moz-selection {
  background: lighten($blue, 40%);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  background: url(../imgs/pattern.jpg) repeat;
}