main {
	margin-left: 300px;
}

.projects_list {
	padding: 50px $gutter;
	display: flex;
	flex-direction: column;

	li {
	  background: $blue;
	  width: 50%;
	  height: 100px;
	  list-style: none;
	}

	li:nth-child(even) {
	  align-self: flex-end;
	}

	li:nth-child(4n+3),
	li:nth-child(4n+2){
	  width: 25%;
	}

}
