main {
	margin-left: percentage(80px/640px);

	.wrapper {
		padding: $gutter-s;
	}

}

.projects_list {
	display: flex;
	flex-direction: column;

	.projects_item {
	  width: 100%;
	  list-style: none;
	  position: relative;
	  margin-bottom: 80px;

	  .background {
	  	background: $white;
	  	width: 100%;
	  	overflow: hidden;
	  	padding-top: 56.25%;
	  	position: relative;
	  	transition: background .1s ease-in;

	  	img {
	  		position: absolute;
	  		top: 0;
	  		left: 0;
	  		width: 100%;
	  		mix-blend-mode: multiply;
	  	}

	  	&:hover {
	  		background: $blue;
	  	}

	  }

	  .project_title {
	  	display: inline-block;
	  	font-family: $font-source-black;
	  	font-size: 30px;
	  	line-height: 36px;
	  	text-transform: uppercase;
	  	color: $blue;
	  	position: relative;
	  	margin-top: -15px;
	  	margin-left: 10px;

	  	@include underline(5, $pink, $gray);

	  }

	}

	.projects_item:nth-child(even) {
	  align-self: flex-end;
	}

	.projects_item:nth-child(4n+3),
	.projects_item:nth-child(4n+2){
	  width: 66.66%;
	}

}
