header {
	position: fixed;
	height: 100vh;
	width: percentage(80px / 640px);
	max-width: 80px;
	background: $blue;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
}

.header_title {
	display: none;

	h1 {
		font-family: $font-playfair;
		font-size: $font-xl;
		font-weight: 300;

		@include underline(25, $pink, $blue, true);

		a {
			text-decoration: none;
			color: white;
		}

	}

	h2 {
		font-family: $font-source-bold;
		font-size: $font-xs;
		text-transform: uppercase;
		letter-spacing: 2px;
		-webkit-font-smoothing: antialiased;
		color: fade-out($white, .5);
	}

}

.header_nav {
	display: none;
	flex-grow: 1;
	font-family: $font-source-bold;
	font-size: $font-xs;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
	padding-top: 100px;

	.nav_list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.nav_item {
		list-style: none;
		margin-bottom: 35px;
		
		&:last-child {
			margin-bottom: 0;
		}

		a {
			position: relative;
			padding-left: 20px;
			color: white;
			text-decoration: none;

			&:before {
				content:"";
				display: inline-block;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 10px;
				height: 2px;
				background: white;
				transition: width .3s cubic-bezier(0,.9,.75,1);
			}

		}

		&.active,
		&:hover {

			a:before {
				width: calc(100% + 20px);
			}

		}

	}

}

.header_social {
	display: none;
}

.social_list {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.social_item {
	list-style: none;

	a {
		color: fade-out($white, .5);
		text-decoration: none;
		font-size: $font-m;
		transition: color .1s ease-in-out;

		&:hover {
			color: $white;
		}

	}

}
