.menu_button {
	background: $blue;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.menu {
	position: fixed;
	height: 100%;
	width: percentage(80px / 640px);
	max-width: 80px;
	z-index: 2;
	transform: translate3d(0,0,0);
	transition: transform 800ms cubic-bezier(.19,1,.22,1);
}

.close {
	position: absolute;
	padding: $gutter-s ($gutter / 3);
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 3;
}

.menu_button span {
	display: block;
	font-family: $font-source-bold;
	font-size: $font-s;
	line-height: 1.2;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	color: fade-out($white, .5);
}

header {
	position: absolute;
	height: 100%;
	width: 100vw;
	right: 100%;
	padding: 50px $gutter-s;
	background: $blue;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
	z-index: 1;
	transform: translate3d(0,0,0);
	transition: transform 800ms cubic-bezier(.19,1,.22,1);

	.header_title,
	.header_nav,
	.header_social,
	.close {
		opacity: 0;
		transition: opacity 800ms cubic-bezier(.19,1,.22,1) 400ms;
	}

	.close {
		transition: opacity 800ms cubic-bezier(.19,1,.22,1) 0ms;
	}

	&.opened {
		transform: translate3d(100%,0,0);

		.header_title,
		.header_nav,
		.header_social,
		.close {
			opacity: 1;
		}

		.close {
			transition: opacity 800ms cubic-bezier(.19,1,.22,1) 400ms;
		}

		+ .menu {
			transform: translate3d(-100%,0,0);
		}

	}

}

.header_title {

	h1 {
		font-family: $font-playfair;
		font-size: $font-xl;
		font-weight: 300;

		@include underline(25, $pink, $blue, true);

		a {
			text-decoration: none;
			color: white;
		}

	}

	h2 {
		font-family: $font-source-bold;
		font-size: $font-xs;
		text-transform: uppercase;
		letter-spacing: 2px;
		-webkit-font-smoothing: antialiased;
		color: fade-out($white, .5);
	}

}

.header_nav {
	flex-grow: 1;
	font-family: $font-source-bold;
	font-size: $font-xs;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 1px;
	padding-top: $gutter;

	.nav_list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.nav_item {
		list-style: none;
		margin-bottom: 35px;
		
		&:last-child {
			margin-bottom: 0;
		}

		a {
			position: relative;
			padding-left: 20px;
			color: white;
			text-decoration: none;

			&:before {
				content:"";
				display: inline-block;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 10px;
				height: 2px;
				background: white;
				transition: width .3s cubic-bezier(0,.9,.75,1);
			}

		}

		&.active,
		&:hover {

			a:before {
				width: calc(100% + 20px);
			}

		}

	}

}

.social_list {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.social_item {
	list-style: none;

	a {
		color: fade-out($white, .5);
		text-decoration: none;
		font-size: $font-m;
		transition: color .1s ease-in-out;

		&:hover {
			color: $white;
		}

	}

}
