// Fonts
$font-playfair : 'playfair_displayregular';

$font-source-regular : 'source_sans_proregular';
$font-source-bold : 'source_sans_probold';
$font-source-black : 'source_sans_problack';

$font-xxs: 11px;
$font-xs: 14px;
$font-s: 16px;
$font-m: 23px;
$font-l: 30px;
$font-xl: 36px;

// Colors
$blue : #264dff;
$pink : #f0f;
$gray : #f2f3f4;
$white: #fff;

// Grid 
$gutter: 30px;
