.about_page {

	.about_links {
		margin-bottom: $gutter-m / 2;

		.button {
			width: 50%;
			max-width: 240px;
			text-align: center;

			&:first-child {
				margin-right: percentage( 80/564 );
			}
		}

	}

	.about_cv {

		.cv_item {
			max-width: 240px;
			margin-bottom: $gutter-m / 2;

			&:not(:last-child) {
				margin-right: 0;
			}

			&:first-child {
				margin-right: percentage( 80/564 );
			}

		}

	}

}