main {
	margin-left: 300px;
}

.projects_list {
	padding: 50px $gutter-s;

	.projects_item {
	  width: calc(100% - #{$gutter-s});
	}

	.projects_item:nth-child(even) {
	  align-self: flex-end;
	}

	.projects_item:nth-child(4n+3),
	.projects_item:nth-child(4n+2){
	  width: calc(50% + #{$gutter-m});
	}

}
