<header>

  <div class="header_title">
    <h1>
      <a href="{{ site.url }}/">{{ site.title }}</a>
    </h1>
    <h2>{{site.subtitle}}</h2>
  </div>

  <nav class="header_nav">
    <ul class="nav_list">
      <li class="nav_item">
        <a href="#">Projects</a>
      </li>
      <li class="nav_item">
        <a href="#">Infos</a>
      </li>
      <li class="nav_item">
        <a href="mailto:{{site.email}}">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="header_social">
    <ul class="social_list">
      <li class="social_item social_item--twitter">
        <a target="_blank" href="http://twitter.com/{{site.social_username}}">twitter</a>
      </li>
      <li class="social_item social_item--dribbble">
        <a target="_blank" href="http://dribbble.com/{{site.social_username}}">Dribbble</a>
      </li>
      <li class="social_item social_item--behance">
        <a target="_blank" href="http://behance.net/{{site.social_username}}">Behance</a>
      </li>
      <li class="social_item social_item--linkedin">
        <a target="_blank" href="http://fr.linkedin.com/in/{{site.social_username}}">Linkedin</a>
      </li>
    </ul>
  </div>

</header>
