.about_layout {
	background: url(../imgs/pattern.jpg) repeat;
}

.about_page {
	padding: $gutter;
	background: $white;

	.about_links .button {
		width: 33.33%;
		max-width: 215px;

		&:not(:last-child) {
			margin-right: percentage( 60/740 );
		}

	}

	.about_cv .cv_item {
		width: 33.33%;
		max-width: 215px;

		&:not(:last-child) {
			margin-right: percentage( 60/740 );
		}

	}

}