.project_page {
	padding: 0 #{$gutter-m /2};

	.project_video,
	.project_know-more {

		&::after {
			width: 45%;
			left: 27.5%;
		}

	}

	.project_pagination {
		margin: 0;
		position: fixed;
		top: 30%;
		left: 300px;
		width: calc( 100% - 300px );
	}

}